<form class="ui stacked segment form" align="center" action="/about/addComment" method="POST">
  <h2 class="ui header">
    Leave us your anonymous comment
  </h2>
  <td class="field">
    <span class="ui input">
      <input type="text" name="usercomment" required title = "Please enter your comment" placeholder="Comment" >
    </span>
  </td>
  
  <button class="ui submit icon button" title="Submit">Submit<i class="ui pencil alternate icon"></i></button>
      
</form>