
<div class="ui stacked segment div" align="center">
  <h2 class="ui header">
    Comments
  </h2>
  {{#each comments}}
<div class="ui card">
  <div class="content">
    {{usercomment}}
</div>
  <div class="extra content">
    <a href="/about/deletecomment/{{id}}" class="ui icon button delcomment">
      <i class="ui trash icon"></i>
    </a>
  </div>
  </div>
  
{{/each}}